<div class="container">
  <h1 style="text-align: center; margin-top: 6%;">Create Posts</h1>

  <form (ngSubmit)="onSubmit()" #f="ngForm" novalidate id="formulario" name="formulario">
    <div class="form-group">
      <label for="title">* Title:</label>
      <input pInputText type="text" class="form-control" id="title" name="title" required size="100" [(ngModel)]="mainObj.title" #title="ngModel" minlength="2"
      />
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !title.valid">
        title is Required
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description: </label><br>
      <textarea class="form-control" [rows]="3" [cols]="50" pInputTextarea id="description" name="description" [(ngModel)]="mainObj.description" autoResize="autoResize"
        class="ui-inputtext"></textarea>
    </div>

    <div class="form-group">
      <label for="description">Press enter to add new tag:</label>
      <p-chips [(ngModel)]="mainObj.tags" id="tags" name="tags"></p-chips>
    </div>

    <div style="display:flex; flex-direction: column; justify-content: center;
    align-items: center;">
      <input accept="image/*" type="file" (change)="onFileSelected($event)" #fileInput />

      <button type="submit" class="btn btn-primary" style="margin-top: 4%;">
        Create
      </button>
    </div>
  </form>
</div>